<footer class="site-footer">
    <div class="footer-container">
        <!-- Left Side Links -->
        <div class="footer-links">
			<a href="page-home" class="nav-home-link">Home</a>
			<a href="contact.html">Contact us</a>
            <a href="terms.html">Citation</a>
        </div>
        
        <!-- Center/Right Resource Logo -->
        <div class="footer-logo-section">
            <div class="footer-logo-text">
                mCODE-ORCHID: <br>Ontology for Radiomics, Clinical Health, and Imaging Data<br>
            </div>
        </div>
        
        <!-- Right Side Copyright & Funding Info -->
        <div class="footer-info">
            <p>Copyright © 2026 </p>
            <p>Funded by Fonds de recherche du Québec – Santé (FRQS) and the American Association of Physicists in Medicine (AAPM)</p>
        </div>
    </div>
</footer>
